@model ClientManager.Models.InfoProject
@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
    ViewBag.Title = "SelectProject";
}

<div class="col-lg-8 col-md-8">
<h2>@ViewBag.NameProject</h2>

    <span class="label label-primary">В процессе</span><br />
    <span class="text-primary">Дата начала:@Model.Create</span><br />
    <span class="text-success">Дата заверешени: @Model.Completed</span><br />

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuem="100" aria-valuenow="50" aria-valuemin="0" style="width:40%;" >
      Выполнен на 50%
    </div>
</div>

<h4>Описание проекта</h4>
<p>
    @ViewBag.Desc
</p>

    @if (User.IsInRole("admin"))
    {
        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Завершить проект</a> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span>Приостановить проект</a> 

        <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-cog"></span>В разработку</a>
    }

@foreach (var s in Model.Tasks)
{
    var status = s.StatusWorks.Select(a => a.Name).Aggregate((i, j) => i);

    <a href="#" class="pad_p">@s.Name</a>
    if (status == "В процессе")
    {
        <span class="label label-info">@status</span><br />
    }

    if (status == "Завершен")
    {
        <span class="label label-success">@status</span><br />
    }

    if (status == "Приостановлен")
    {
        <span class="label label-danger">@status</span><br />
    }
}
</div>